.container {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url('../../../assets/noChat.png');
    height: calc(100vh - 4rem);
    margin-top: 4rem;
}


@media (max-width: 768px) {
    .noDisplay {
        display: none !important;
    }
}

.noBackButton {
    display: none !important;
}

.backButton {
    color: #fff;
    cursor: pointer;
}


.sendButton {
    cursor: pointer;
}

.typingSection {
    width: 100%;
    background-color: #fff;
}

.notAllowed {
    cursor: not-allowed;
}

.profilePic {}