.messageNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    height:15px;
    width:15px;
    padding:3px;
    border-radius:20px;
    background-color: rgb(149, 196, 79);
}